@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap");

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Space Mono", monospace;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

main {
  position: absolute;
}
